<ul>
	<li class="obj_l">Blekinge län<ul>
			<li class="obj_o">Capio Närsjukvård AB<ul>
					<li class="postalAddress">37238 Ronneby</li>
					<li class="telephoneNumber">+464501734143</li>
					<li class="mail">capio.narsjukvard.ab@capio.narsjukvard.ab.test</li>
					<li class="orgNo">556422-0860</li>
					<li class="hsaIdentity">PL5564220860-0001</li>
				</ul>
			</li>
			<li class="obj_o">Hälsohuset för alla Karlskrona AB<ul>
					<li class="postalAddress">371 34 Karlskrona</li>
					<li class="telephoneNumber">+464502845098</li>
					<li class="mail">halsohuset.for.alla.karlskrona.ab@halsohuset.for.alla.karlskrona.ab.test</li>
					<li class="orgNo">556791-5771</li>
					<li class="countyName">Blekinge län</li>
					<li class="municipalityName">Karlskrona</li>
					<li class="hsaIdentity">PL5567915771-0001</li>
				</ul>
			</li>
			<li class="obj_o">Hälsoringen Vård AB<ul>
					<li class="postalAddress">294 31 Sölvesborg</li>
					<li class="telephoneNumber">+46450829571</li>
					<li class="mail">halsoringen.vard.ab@halsoringen.vard.ab.test</li>
					<li class="orgNo">556569-6225</li>
					<li class="hsaIdentity">PL5565696225-0001</li>
				</ul>
			</li>
			<li class="obj_o">Karlshamns Kommun<ul>
					<li class="postalAddress">374 81 Karlshamn</li>
					<li class="telephoneNumber">+46450541230</li>
					<li class="mail">karlshamns.kommun@karlshamns.kommun.test</li>
					<li class="orgNo">212000-0845</li>
					<li class="hsaIdentity">PL2120000845-0001</li>
				</ul>
				<ul>
					<li class="obj_ou">Omsorgsförvaltningen<ul>
							<li class="orgNo">212000-0845</li>
							<li class="countyName">Blekinge län</li>
							<li class="municipalityName">Karlshamn</li>
							<li class="hsaIdentity">PL2120000845-d3232</li>
						</ul>
						<ul>
							<li class="obj_ou">HSL Karlshamn<ul>
									<li class="postalAddress">Karlshamns Kommun<br>
										Omsorgsförvaltningen<br>
										374 81 Karlshamn</li>
									<li class="telephoneNumber">+46450138047</li>
									<li class="orgNo">212000-0845</li>
									<li class="countyName">Blekinge län</li>
									<li class="municipalityName">Karlshamn</li>
									<li class="hsaIdentity">PL2120000845-b3234</li>
								</ul>
								<ul>
									<li class="obj_ou">Avd HSL team<ul>
											<li class="orgNo">212000-0845</li>
											<li class="countyName">Blekinge län</li>
											<li class="municipalityName">Karlshamn</li>
											<li class="hsaIdentity">PL2120000845-a3237</li>
										</ul>
									</li>
									<li class="obj_ou">Avregistrering kort<ul>
											<li class="hsaIdentity">PL2120000845-1004</li>
										</ul>
									</li>
									<li class="obj_ou">Externa resurser<ul>
											<li class="hsaIdentity">PL2120000845-1006</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="obj_ou">Utbildningsförvaltningen<ul>
							<li class="orgNo">212000-0845</li>
							<li class="countyName">Blekinge län</li>
							<li class="municipalityName">Karlshamn</li>
							<li class="hsaIdentity">PL2120000845-d3280</li>
						</ul>
						<ul>
							<li class="obj_ou">Skolhälsovården<ul>
									<li class="orgNo">212000-0845</li>
									<li class="countyName">Blekinge län</li>
									<li class="municipalityName">Karlshamn</li>
									<li class="hsaIdentity">PL2120000845-b3281</li>
								</ul>
								<ul>
									<li class="obj_ou">Skolsköterska Khmn<ul>
											<li class="orgNo">212000-0845</li>
											<li class="countyName">Blekinge län</li>
											<li class="municipalityName">Karlshamn</li>
											<li class="hsaIdentity">PL2120000845-a3282</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Karlskrona Gynekologmottagning HB<ul>
					<li class="postalAddress">Kornettgatan 4<br>
						371 53 Karlskrona</li>
					<li class="telephoneNumber">+46450167608</li>
					<li class="mail">karlskrona.gynekologmottagning.hb@karlskrona.gynekologmottagning.hb.test</li>
					<li class="orgNo">969760-5377</li>
					<li class="hsaIdentity">PL9697605377-0001</li>
				</ul>
			</li>
			<li class="obj_o">Karlskrona Kommun<ul>
					<li class="postalAddress">371 83 <br>
						Karlskrona</li>
					<li class="telephoneNumber">+46450904563</li>
					<li class="mail">karlskrona.kommun@karlskrona.kommun.test</li>
					<li class="orgNo">212000-0829</li>
					<li class="hsaIdentity">PL2120000829-0001</li>
				</ul>
			</li>
			<li class="obj_o">Landstinget Blekinge<ul>
					<li class="postalAddress">Landstinget Blekinge<br>
						Bättringsvägen<br>
						371 81 Karlskrona</li>
					<li class="telephoneNumber">+464500807232</li>
					<li class="mail">landstinget.blekinge@landstinget.blekinge.test</li>
					<li class="orgNo">232100-0081</li>
					<li class="management">Landsting/Region</li>
					<li class="hsaIdentity">PL2321000081-L001</li>
					<li class="hsaSwitchboardNumber">+46450553433</li>
					<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
				</ul>
			</li>
			<li class="obj_o">Läkarhuset i Karlshamn AB<ul>
					<li class="postalAddress">374 36 Karlshamn</li>
					<li class="telephoneNumber">+464501547060</li>
					<li class="mail">lakarhuset.i.karlshamn.ab@lakarhuset.i.karlshamn.ab.test</li>
					<li class="orgNo">556475-2912</li>
					<li class="hsaIdentity">PL5564752912-0001</li>
				</ul>
			</li>
			<li class="obj_o">Läkehjälpen Olofström AB<ul>
					<li class="postalAddress">293 32 Olofström</li>
					<li class="telephoneNumber">+46450695328</li>
					<li class="mail">lakehjalpen.olofstrom.ab@lakehjalpen.olofstrom.ab.test</li>
					<li class="orgNo">556786-1819</li>
					<li class="hsaIdentity">PL5567861819-0001</li>
				</ul>
			</li>
			<li class="obj_o">Olofströms Kommun<ul>
					<li class="postalAddress">293 24 Olofström</li>
					<li class="telephoneNumber">+464502748031</li>
					<li class="mail">olofstroms.kommun@olofstroms.kommun.test</li>
					<li class="orgNo">212000-0811</li>
					<li class="hsaIdentity">PL2120000811-0001</li>
				</ul>
			</li>
			<li class="obj_o">Precare Blekinge AB<ul>
					<li class="telephoneNumber">+464505267414</li>
					<li class="mail">precare.blekinge.ab@precare.blekinge.ab.test</li>
					<li class="orgNo">556781-9080</li>
					<li class="hsaIdentity">PL5567819080-0001</li>
				</ul>
			</li>
			<li class="obj_o">Ronneby Kommun<ul>
					<li class="postalAddress">372 80 Ronneby</li>
					<li class="telephoneNumber">+46450652999</li>
					<li class="mail">ronneby.kommun@ronneby.kommun.test</li>
					<li class="orgNo">212000-0837</li>
					<li class="hsaIdentity">PL2120000837-0001</li>
				</ul>
			</li>
			<li class="obj_o">SB Gynkonsult AB<ul>
					<li class="postalAddress">Kornettgatan 4<br>371 53 Karlskrona</li>
					<li class="telephoneNumber">+46450440970</li>
					<li class="mail">sb.gynkonsult.ab@sb.gynkonsult.ab.test</li>
					<li class="orgNo">556884-2230</li>
					<li class="hsaIdentity">PL5568842230-0001</li>
				</ul>
			</li>
			<li class="obj_o">Simon Larsson Hälsovård AB<ul>
					<li class="postalAddress">293 34 Olofström</li>
					<li class="telephoneNumber">+464504139284</li>
					<li class="mail">simon.larsson.halsovard.ab@simon.larsson.halsovard.ab.test</li>
					<li class="orgNo">556701-4013</li>
					<li class="hsaIdentity">PL5567014013-0001</li>
				</ul>
			</li>
			<li class="obj_o">Stiftelsen Valjeviken<ul>
					<li class="postalAddress">294 22 Sölvesborg</li>
					<li class="telephoneNumber">+46450288131</li>
					<li class="mail">stiftelsen.valjeviken@stiftelsen.valjeviken.test</li>
					<li class="orgNo">836200-8628</li>
					<li class="hsaIdentity">PL8362008628-0001</li>
				</ul>
			</li>
			<li class="obj_o">Sölvesborgs Kommun<ul>
					<li class="postalAddress">294 80 Sölvesborg</li>
					<li class="telephoneNumber">+46450869947</li>
					<li class="mail">solvesborgs.kommun@solvesborgs.kommun.test</li>
					<li class="orgNo">212000-0852</li>
					<li class="hsaIdentity">PL2120000852-0001</li>
				</ul>
			</li>
			<li class="obj_o">Ögonläkare Bengt Åström AB<ul>
					<li class="postalAddress">374 96 Trensum</li>
					<li class="telephoneNumber">+464507743637</li>
					<li class="mail">ogonlakare.bengt.astrom.ab@ogonlakare.bengt.astrom.ab.test</li>
					<li class="orgNo">556564-8432</li>
					<li class="hsaIdentity">PL5565648432-0001</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="obj_l">Dalarnas län</li>
	<li class="obj_l">Gävleborgs län</li>
	<li class="obj_l">Hallands län</li>
	<li class="obj_l">Inaktiva organisationer</li>
	<li class="obj_l">Jämtlands län</li>
	<li class="obj_l">Jönköpings län</li>
	<li class="obj_l">Kalmar län</li>
	<li class="obj_l">Kronobergs län</li>
	<li class="obj_l">Norrbottens län</li>
	<li class="obj_l">Skåne län</li>
	<li class="obj_l">Stockholms län</li>
	<li class="obj_l">Sörmlands län</li>
	<li class="obj_l">Uppsala län</li>
	<li class="obj_l">Värmlands län</li>
	<li class="obj_l">Västerbottens län</li>
	<li class="obj_l">Västernorrlands län</li>
	<li class="obj_l">Västmanlands län</li>
	<li class="obj_l">Västra Götalands län</li>
	<li class="obj_l">Örebro län</li>
	<li class="obj_l">Östergötlands län</li>
	<li class="obj_o">Aleris Holding AB<ul>
			<li class="postalAddress">Box 47134<br>
				100 74 Stockholm</li>
			<li class="telephoneNumber">+464507464173</li>
			<li class="labeledURI">https://www.aleris.test</li>
			<li class="mail">aleris.holding.ab@aleris.holding.ab.test</li>
			<li class="orgNo">556598-6782</li>
			<li class="countyName">Stockholms län</li>
			<li class="municipalityName">Stockholm</li>
			<li class="management">Privat</li>
			<li class="hsaIdentity">PL5565986782-0001</li>
		</ul>
	</li>
	<li class="obj_o">Almaso för tandvården AB<ul>
			<li class="l">Veberöd</li>
			<li class="street">street: ThisX</li>
			<li class="postalAddress">Almaso för tandvården AB<br>
				Kyrkostigen 5<br>
				247 62 VEBERÖD</li>
			<li class="telephoneNumber">+46450799491</li>
			<li class="mail">almaso.for.tandvarden.ab@almaso.for.tandvarden.ab.test</li>
			<li class="orgNo">556484-4115</li>
			<li class="countyName">Skåne län</li>
			<li class="municipalityName">Lund</li>
			<li class="hsaIdentity">PL5564844115-0001</li>
			<li class="hsaSwitchboardNumber">+464509634175</li>
			<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
		</ul>
	</li>
	<li class="obj_o">Ambea AB<ul>
			<li class="postalAddress">17154 Solna</li>
			<li class="telephoneNumber">+46450226618</li>
			<li class="mail">ambea.ab@ambea.ab.test</li>
			<li class="orgNo">556801-0788</li>
			<li class="hsaIdentity">PL5568010788-0001</li>
		</ul>
	</li>
	<li class="obj_o">Attendo Sverige AB<ul>
			<li class="street">street: This is text with theX</li>
			<li class="postalAddress">Box 715<br>
				182 17 Danderyd</li>
			<li class="telephoneNumber">+464503737873</li>
			<li class="labeledURI">https://www.attendo.test</li>
			<li class="mail">attendo.sverige.ab@attendo.sverige.ab.test</li>
			<li class="orgNo">556148-5169</li>
			<li class="management">Privat</li>
			<li class="hsaIdentity">PL5561485169-0001</li>
		</ul>
	</li>
	<li class="obj_o">Capio AB<ul>
			<li class="description">description:</li>
			<li class="postalAddress">Box 8173<br>
				104 20 Stockholm</li>
			<li class="labeledURI">www.capio.test</li>
			<li class="mail">capio.ab@capio.ab.test</li>
			<li class="orgNo">556518-9692</li>
			<li class="management">Privat</li>
			<li class="hsaIdentity">PL5565189692-0001</li>
			<li class="hsaSwitchboardNumber">+464506753703</li>
			<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
		</ul>
	</li>
	<li class="obj_o">CompuGroup Medical Sweden AB<ul>
			<li class="street">street: This is text with the purpose to be a defaulttext X</li>
			<li class="description">description: This is text with the purpose to be a defaulttext when you want to display text but you dont want to show the original text. No useful information can be found in this text but the length of the text is identical with the length of the original text. If anyone wants to read this text the content might be a little hard to understand and it will not be of any help if the reader tries to find directions to the nearest pharmacy or postoffice.</li>
			<li class="postalAddress">CompuGroup Medical Sweden AB<br>
				751 48 Uppsala</li>
			<li class="telephoneNumber">+464500191809</li>
			<li class="labeledURI">https://www.cgm.test</li>
			<li class="mail">compugroup.medical.sweden.ab@compugroup.medical.sweden.ab.test</li>
			<li class="orgNo">556349-5893</li>
			<li class="hsaIdentity">PL165565690913-1000</li>
			<li class="hsaSwitchboardNumber">+464504232874</li>
		</ul>
	</li>
	<li class="obj_o">E-hälsomyndigheten<ul>
			<li class="postalAddress">Sankt Eriksgatan 117<br>
				11343 Stockholm</li>
			<li class="telephoneNumber">+464505032004</li>
			<li class="mail">e-halsomyndigheten@e-halsomyndigheten.test</li>
			<li class="orgNo">202100-6552</li>
			<li class="hsaIdentity">PL2021006552-0001</li>
		</ul>
	</li>
	<li class="obj_o">IT Omsorg i Stockholm AB<ul>
			<li class="postalAddress">Kuskvägen 6<br>
				191 62 Sollentuna</li>
			<li class="telephoneNumber">+464509529314</li>
			<li class="labeledURI">https://www.itomsorg.test</li>
			<li class="mail">it.omsorg.i.stockholm.ab@it.omsorg.i.stockholm.ab.test</li>
			<li class="orgNo">556802-7022</li>
			<li class="hsaIdentity">PL5568027022-0001</li>
			<li class="hsaSwitchboardNumber">+46450715617</li>
			<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
		</ul>
	</li>
	<li class="obj_o">Inera AB<ul>
			<li class="street">street: This is X</li>
			<li class="postalAddress">Inera AB<br>
				11893 Stockholm</li>
			<li class="telephoneNumber">+46450296843</li>
			<li class="labeledURI">https://www.inera.test</li>
			<li class="mail">inera.ab@inera.ab.test</li>
			<li class="orgNo">556559-4230</li>
			<li class="countyName">Stockholms län</li>
			<li class="municipalityName">Stockholm</li>
			<li class="hsaIdentity">PL165565594230-1000</li>
		</ul>
	</li>
	<li class="obj_o">Kriminalvården<ul>
			<li class="description">description: This is text with the purpose to be a defaulttext when you want to display text but you dont want to show the original text. No useful information can be found in this text but the length of the text is identical with the length of the original text. If anyone wants to read this text the content might be a little hard to understand and it will not be of any help if the reader tries to find directions to the nearest pharmacy or postoffice.</li>
			<li class="postalAddress">Kriminalvården<br>
				601 80 Norrköping</li>
			<li class="telephoneNumber">+464506894445</li>
			<li class="mail">kriminalvarden@kriminalvarden.test</li>
			<li class="orgNo">202100-0225</li>
			<li class="hsaIdentity">PL2021000225-0001</li>
			<li class="hsaSwitchboardNumber">+464503210360</li>
		</ul>
	</li>
	<li class="obj_o">MYBW Office Management Gruppen Holding AB<ul>
			<li class="postalAddress">Box 1100<br>
				164 40 KISTA</li>
			<li class="telephoneNumber">+464504156888</li>
			<li class="mail">mybw.office.management.gruppen.holding.ab@mybw.office.management.gruppen.holding.ab.test</li>
			<li class="orgNo">556712-2196</li>
			<li class="hsaIdentity">PL5567122196-1000</li>
		</ul>
	</li>
	<li class="obj_o">Praktikertjänst AB<ul>
			<li class="postalAddress">Praktikertjänst AB<br>
				103 55 Stockholm</li>
			<li class="telephoneNumber">+464508790463</li>
			<li class="mail">praktikertjanst.ab@praktikertjanst.ab.test</li>
			<li class="orgNo">556077-2419</li>
			<li class="hsaIdentity">PL165560772419-1001</li>
			<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
		</ul>
	</li>
	<li class="obj_o">SOS Alarm Sverige AB<ul>
			<li class="postalAddress">Box 5776<br>
				114 87 Stockholm</li>
			<li class="telephoneNumber">+464507682080</li>
			<li class="mail">sos.alarm.sverige.ab@sos.alarm.sverige.ab.test</li>
			<li class="orgNo">556159-5819</li>
			<li class="hsaIdentity">PL5561595819-0001</li>
		</ul>
	</li>
	<li class="obj_o">Socialstyrelsen<ul>
			<li class="street">street: This X</li>
			<li class="postalAddress">106 30 Stockholm</li>
			<li class="telephoneNumber">+464503717270</li>
			<li class="orgNo">202100-0555</li>
			<li class="management">Statlig</li>
			<li class="hsaIdentity">PL162021000555-1000</li>
		</ul>
	</li>
	<li class="obj_o">Statens institutionsstyrelse<ul>
			<li class="street">street: This is text with the purposX</li>
			<li class="postalAddress">Box 30224, <br>
				104 25 Stockholm</li>
			<li class="telephoneNumber">+46450957800</li>
			<li class="mail">statens.institutionsstyrelse@statens.institutionsstyrelse.test</li>
			<li class="orgNo">202100-4508</li>
			<li class="management">Statlig</li>
			<li class="hsaIdentity">PL2021004508-0001</li>
		</ul>
	</li>
	<li class="obj_o">Svensk e-identitet AB<ul>
			<li class="street">street: This is text with the pX</li>
			<li class="description">description: This is text with the purpose to be a defaulttext when you want to display text but you dont want to show the original text. No useful information can be found in this text but the length of the text is identical with the length of the original text. If anyone wants to read this text the content might be a little hard to understand and it will not be of any help if the reader tries to find directions to the nearest pharmacy or postoffice.</li>
			<li class="postalAddress">Svartbäcksgatan 5<br>
				753 20 Uppsala</li>
			<li class="telephoneNumber">+46450673520</li>
			<li class="labeledURI">www.e-identitet.test</li>
			<li class="mail">svensk.e-identitet.ab@svensk.e-identitet.ab.test</li>
			<li class="orgNo">556776-6992</li>
			<li class="countyName">Uppsala län</li>
			<li class="municipalityName">Uppsala</li>
			<li class="management">Övrigt</li>
			<li class="hsaIdentity">PL165567766992-0001</li>
			<li class="hsaSwitchboardNumber">+46450659844</li>
			<li class="hsaDirectoryContact">PL-felanmalan@inera.test</li>
		</ul>
	</li>
	<li class="obj_o">Testdata i produktionsmiljö<ul>
			<li class="hsaIdentity">TestdataProd-0001</li>
		</ul>
	</li>
	<li class="obj_o">Unilabs AB<ul>
			<li class="street">street: This is text with the purposeX</li>
			<li class="description">description: This is text with the purpose to be a defaulttext when you want to display text but you dont want to show the original text. No useful information can be found in this text but the length of the text is identical with the length of the original text. If anyone wants to read this text the content might be a little hard to understand and it will not be of any help if the reader tries to find directions to the nearest pharmacy or postoffice.</li>
			<li class="postalAddress">UNILABS AB<br>
				405 22 Göteborg</li>
			<li class="telephoneNumber">+464502710441</li>
			<li class="labeledURI">https://www.unilabs.test</li>
			<li class="mail">unilabs.ab@unilabs.ab.test</li>
			<li class="orgNo">556118-7179</li>
			<li class="management">Privat</li>
			<li class="hsaIdentity">PL165561187179-1000</li>
			<li class="hsaSwitchboardNumber">+464500988321</li>
		</ul>
	</li>
</ul>
