<!-- docTree start -->
<ul class="tree-view dynamic-headings pb-5">
	<li class="obj_l">Aleris Holding AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Almaso för tandvården AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Attendo Sverige AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Ambea AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Blekinge län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Capio AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">CompuGroup Medical Sweden AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Dalarnas län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">E-hälso-myndigheten<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Gävleborgs län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Hallands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Inera AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">IT Omsorg i Stockholm AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Jämtlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Jönköpings län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Kalmar län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Kriminalvården<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Kronobergs län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Norrbottens län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Praktikertjänst AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Skåne län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Socialstyrelsen<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">SOS Alarm Sverige AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Stockholms län samt Gotland<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Statens institutionsstyrelse<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Svensk e-identitet AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Södermanlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Unilabs AB<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Uppsala län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Värmlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Västerbottens län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Västernorrlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Västmanlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Västra Götalands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Örebro län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Östergötlands län<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
	<li class="obj_l">Hela Sverige<ul>
			<li class="obj_o">Enhet 2</li>
			<li class="obj_o">2nd Level<ul>
					<li class="obj_o">Enhet 3</li>
					<li class="obj_o">Enhet 4</li>
					<li class="obj_o">3rd Level<ul>
							<li class="obj_o">Enhet 5</li>
							<li class="obj_o">Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="obj_o">Enhet 7</li>
		</ul>
	</li>
</ul><!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5><button type="button" class="close" data-dismiss="modal"
				 aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">...</div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button></div>
		</div>
	</div>
</div><!-- docTree end -->
