/* ==========================================================================
	Custom styles
	========================================================================== */

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

label {
	margin-bottom: .1em;
}

footer {
	max-width: 1024px !important;
	bottom: 0;
	padding: 1.5em 0 0;
	/* position: fixed !important; */
	z-index: 1000;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

	/* IE10+ specific styles go here */
	/* body {
		background-color: #00615e !important;
	} */
}

/* WCAG - start */

.form-control input-placeholder,
::-webkit-input-placeholder {
	color: #898279 !important;
	opacity: 1;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */
:-moz-placeholder {
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 4-18 */
::-moz-placeholder {
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 19-51 */
:-ms-input-placeholder {
	color: #898279;
	opacity: 1;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

/* IE 10+ */
::placeholder {
	color: #898279;
	opacity: 1;
	transition: opacity .5s;
}

/* Modern Browsers */

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */
*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */
*:focus::placeholder {
	opacity: 0;
}

/* Modern Browsers */

/* IE 10+ */
/* WCAG - stop */

.left-nav a,
footer a,
main a {
	color: #00615e;
	text-decoration: underline;
}

footer a:hover,
main a:hover {
	color: #000;
	text-decoration: none;
}

.hsa-bg-007d7b {
	background-color: #007d7b !important;
}

.hsa-bg-f1edea {
	background-color: #f1edea !important;
}

.hsa-bg-dcd9d6 {
	background-color: #dcd9d6 !important;
}

.main-content-full-height {
	display: block;
	min-height: calc(100vh - 8em);
}

.footer-global-logo .logo-img {
	background-image: url(../images/inera-logo--79x48px.svg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 70px;
	width: 100%;
	color: transparent;
	font: 0/0 a;
}

.menu-icon {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.fine {
	font-size: 14px;
	font-size: .8em;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	line-height: 1.4;
	padding-top: 10px;
}

.heading-small {
	font-size: 12px;
	font-size: .75em;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
}

/*
 * Sidebar - start
 */

.pointer-link>.toggle-sidebar {
	min-height: calc(100vh - 100px);
	width: 30px;
	display: block;
}

.pointer-link>.toggle-sidebar.opened {
	background: url("../images/push-menu-left.png") no-repeat center;
}

.pointer-link>.toggle-sidebar.closed {
	background: url("../images/push-menu-right.png") no-repeat center;
}

/* ---------------------------------------------------
	SIDEBAR STYLE
----------------------------------------------------- */

.dropdown-toggle::after {
	color: #898279;
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

.dropdown-toggle[aria-expanded="true"]::after {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar-left {
	min-width: 18em;
	max-width: 18em;
	transition: all .3s;
}

/* Set initial view to hidden - start */

#sidebar-left {
	margin-left: -18em;
}

#sidebar-left.active {
	margin-left: 0;
}

/* ...but administrator view has a visible sidebar */

#page-administrate #sidebar-left {
	margin-left: -18em;
}

#page-administrate #sidebar-left.active {
	margin-left: 0;
}

/* Set initial view to hidden - start */

#sidebar-left ul.components {
	padding: 2em 0;
}

#sidebar-left ul p {
	color: #fff;
	padding: 1em;
}

#sidebar-left ul li a {
	border-bottom: 1px solid #dcd9d6;
	display: block;
	font-size: 1.1em;
	padding: .75em 1.5em;
}

#sidebar-left ul ul a {
	background-color: #f1edea;
	font-size: 1em;
	padding-left: 3.5em !important;
}

#sidebar-left ul li a:hover {
	background-color: #fff;
	color: #898279;
}

#sidebar-left ul li.active>a,
#sidebar-left a[aria-expanded="true"] {
	background-color: #f8f7f5;
	color: #372a1c;
	font-weight: 700;
}

#sidebar-left a[data-toggle="collapse"] {
	position: relative;
}

#sidebar-left a {
	color: #333;
	font-weight: 400;
}

#sidebar-left a .menu-icon {
	color: #999;
	margin-right: 10px;
}

#sidebar-left a.active,
#sidebar-left a.active:focus {
	background-color: #f5f5f5;
	color: #00615e;
}

#sidebar-left a.active .menu-icon,
#sidebar-left a:hover,
#sidebar-left a:hover .menu-icon {
	color: inherit;
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 80px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar-heading {
	font-size: .75em;
	text-transform: uppercase;
}

.sidebar-border {
	width: 5px;
}

/*
 * Sidebar - stop
 */

/*
 * Content - start
 */

#main-content-wrapper {
	max-width: 1024px;
	min-height: calc(100vh - 80px);
	/* min-height: 100vh; */
	/* Space for fixed navbar */
	padding-top: 1em;
}

section[role="main"] {
	clear: both;
	min-height: calc(100vh - 236px);
}

/*
 * Content - stop
 */

/*
 * Navbar - start
 */

.pointer-link {
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	background-color: #007d7b;
	/* color: #fff; */
	border-radius: .5rem;
	color: rgba(255, 255, 255, .95);
	font-size: 1.25em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.navbar.fixed-top,
.navbar.sticky-top {
	height: 80px;
}

.navbar-brand {
	padding-top: .25em;
	padding-bottom: 1.25em;
	font-size: 1em;
	/* background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #00615e;
	border: 1px solid #56a3a2;
	-webkit-box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	text-shadow: 0 0 1em rgba(255, 255, 255, .75);
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.nav-link>.menu-icon {
	opacity: .5;
}

/*
 * Navbar - stop
 */

/*
 * Tabs - start
 */

.tab-pane.active {
	background-color: #fafafa;
	border: 1px solid #dee2e6;
	border-top: 1px solid transparent;
	padding: 0;
}

.no-content {
	opacity: .7;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.result-1-tab>a {
	background-image: url(../images/user-symbol.svg);
}

.result-2-tab>a {
	background-image: url(../images/home-symbol.svg);
}

.result-3-tab>a {
	background-image: url(../images/place-symbol.svg);
}

.result-1-tab>a,
.result-2-tab>a,
.result-3-tab>a {
	background-size: 20px;
	background-position: 12px 10px;
	background-repeat: no-repeat;
	font-weight: 700;
	padding: .5em 1em .5em 2.5em;
}

.result-1-tab>a.nav-link.active,
.result-2-tab>a.nav-link.active,
.result-3-tab>a.nav-link.active,
.result-1-tab>a.nav-link.active>.result-section-number,
.result-2-tab>a.nav-link.active>.result-section-number,
.result-3-tab>a.nav-link.active>.result-section-number {
	text-decoration: none;
}

a>.result-section-number {
	text-decoration: underline #f8f7f5;
	font-weight: 400;
}

/*
 * Tabs - stop
 */

/*
 * Search results - start
 */

.result-item {
	text-decoration: none;
	display: block;
	padding: .75em 1em .25em;
}

.result-item:nth-child(odd) {
	background-color: #f5f5f5;
}

.result-item h3 {
	font-size: 1em;
	font-weight: 700;
}

a.result-item h3 {
	color: #00615e;
	text-decoration: underline;
}

.result-item .path-to-item {
	font-style: italic;
}

.result-item .has-mail-address::after {
	color: #372b1d;
	content: "\f0e0";
	font-family: FontAwesome;
	font-weight: 400;
	opacity: .5;
	padding: 0 .75em;
}

/*
 * Search results - stop
 */

.detail-search .form-row {
	padding-bottom: 1em;
}

.detail-search .col {
	padding-right: 1em;
}

.text-muted {
	color: #52443a !important;
}

/*
 * Forms - start
 */

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.omnibox input[type="search"] {
	padding: .5em 1.25em;
	height: calc(2.875rem + 2px);
}

.omnibox .btn {
	height: calc(2.875rem + 2px);
	padding: .75em 1.25em !important;
	display: inline-block;
}

/*
 * Forms - stop
 */

/* Override Bootstrap styles */

.btn-info {
	background-color: #007d7b;
	border-color: #007d7b;
}

.btn {
	background-color: #644e37;
	border-radius: .5rem;
	box-shadow: inset .5em .5em 1em rgba(0, 0, 0, .2);
	color: #fff;
	font-weight: 700;
	padding: .375rem 1rem;
	text-shadow: .1em .1em .5em #372a1c;
	text-transform: uppercase !important;
}

.btn i {
	color: #a2958a;
	padding: 0 0 0 .25em;
}

.btn:hover {
	background-color: #372b1d;
	color: #fff;
}

.btn-info.focus,
.btn-info:focus {
	box-shadow: 0 0 0 .2rem #007d7b;
}

.form-control {
	background-color: #fafafa;
}

.popover-body {
	color: #372a1c;
	background-color: bisque;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
	border-bottom-color: bisque;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
xs = Extra small <576px
sm = Small ≥576px
md = Medium ≥768px
lg = Large ≥992px
xl = Extra large ≥1200px
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Mobile first */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Desktop first */

@media (max-width: 1199.98px) {

	.navbar-dark .navbar-nav .nav-link {
		background-color: #56a3a2;
		border-bottom: 1px solid #007d7b;
		border-radius: 0;
		/* color: inherit; */
	}

	.sidebar-left,
	.sidebar-border {
		display: none;
	}

}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 543.98px) {}
