<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal">
				<a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-03-04 16:13:07</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Vidareutveckla "sökresultatvy", "sidhuvud" och "vänsternavigering"</h3>
				<p>
					<em>Sprint 16 &raquo; HSA-363 &amp; HSA-366:
						<a href="https://riv-ta.atlassian.net/browse/HSA-363">https://riv-ta.atlassian.net/browse/HSA-363</a> &amp; <a
						 href="https://riv-ta.atlassian.net/browse/HSA-366">https://riv-ta.atlassian.net/browse/HSA-366</a></em>
				</p>
				<h3>Beskrivning</h3>
				<p>
					Två referensgrupper &ndash; en med
					administratörsbehörigheter och en annan grupp användare som
					saknar särskilda behörigheter &ndash; har fått lämna
					synpunkter på gränssnittets vyer <em>enkel sök</em>,
					<em>detaljerad sök</em>, <em>resultatlista</em> och
					<em>bläddra</em> vid två referensgruppsdemos under februari.
					Vi genomför ändringar enligt önskemål och visar nya
					versioner av dessa vyer vid kommande möten med
					referensgrupperna.
				</p>
				<h4>Här vill användare från de två grupperna se nya förslag</h4>
				<ol>
					<li>Sidhuvud – Ersätt "Logga in" med användarens namn</li>
					<li>Sidhuvud – Lägg till notifiering med fejkat antal meddelanden – <em>ENDAST för administratörer</em></li>
					<li>Vänsterkolumn (navigering &amp; filter) – Byt "Sök i del av organisation" till "Sökområde"</li>
					<li>Sökresultatvy - Låt sökområde och länk <em>Filtrera</em> ligga kvar på samma plats före som efter sökning.
						Flytta sökresultat (4 679 träffar varav 200 visas) till raden under detta och lägg texten bakom ny länk "Läs mer".</li>
					<li>Sökresultatvy - Ändra antalet personer i "träfflista Anna" till 198</li>
					<li>Sökresultatvy - Möjliggör ytterligare en sökning som ger typ 15 träffar</li>
					<li>Förtydliga hjälptexten för exakt sökning och korrigera stavfel ("sökfråfga")</li>
				</ol>
			</div>
		</div>
	</div>
</div>
