<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal">
				<a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp för referensgruppsdemo 2019-04-23</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Frågor</h3>
				<ol>
					<li>
						<p>Om du har tid och möjlighet – sätt dig bredvid
							en kollega som inte kan HSA och be henne/honom klicka runt för att se</p>
						<ol>
							<li>
								<p>Om du kan hitta telefonnumret till en
									distriktsköterska i Ullared.</p>
							</li>
							<li>
								<p>Se om du kan hitta dig själv också.</p>
							</li>
							<li>
								<p>Hitta mer information om vad HSA är.</p>
							</li>
						</ol>
						<p>Hjälp till så lite som möjligt.
							<i>Observera att inget av det här är möjligt i prototypen men det
								kommer att fungera i den skarpa versionen.</i> Prototypen har ingen
							databas och bara grundläggande funktioner.</p>
						<ul>
							<li>
								<ol>
									<li>
										<p>Vilka spontana reaktioner fick du?</p>
									</li>

									<li>
										<p>Var körde personen fast?</p>
									</li>
									<li>
										<p>Saknas det nödvändiga instruktioner
											någonstans?</p>
									</li>
									<li>
										<p>Har vi lagt länkar och dokument på rätt
											ställe?</p>
									</li>
									<li>
										<p>Förstår man att t.ex. både handboken och
											information och information om personuppgiftsbehandling finns
											där?</p>
									</li>
									<li>
										<p>Saknar ni någon länk eller dokument?</p>
									</li>
								</ol>
							</li>
						</ul>
					</li>
				</ol>
				<ol start="2">
					<li>
						<p>Utformning av filtrera av enkel
							sökning</p>
					</li>
				</ol>
				<ol style="list-style-type:none;">
					<li>
						<p>På länken <a href="../../hsa-sprint-17-admin-002/" target="_top">hsa-sprint-17-admin-002</a>
							fungerar filtreringen vid enkel sökning annorlunda. Ett av tre
							filter visas vid "tratten", de två andra i vänster
							menyn.</p>
						<ul>
							<li>
								<ol>
									<li>
										<p>Är det logiskt att filtret visas i direkt
											anslutning till rutan?</p>
									</li>
									<li>
										<p>Är det förvirrande att filtren sitter på olika
											ställen i enkel resp. detaljerad sökning?</p>
									</li>
									<li>
										<p>Finns det risk att man bara hittar ett filter
											om de ligger på olika ställen?</p>
									</li>
								</ol>
							</li>
						</ul>
				</ol>
				<ol start="3">
					<li>
						<p>Mina genvägar/bokmärken</p>
					</li>
					<li>
						<ol>
							<li>
								<p>Vi har för avsikt att jobba med unika URL:er
									(webbadresser) för att man ska kunna skapa sina egna genvägar. Var
									skulle du vilja lägga dina bokmärken?</p>
							</li>
							<li>
								<p>På funktionen (<i>detaljerad sök</i> eller
									<i>avvikelsekontroller</i>)?</p>
							</li>
							<li>
								<p>På plats i bläddravyn (t.ex. <i>Danderyds
										sjukhus</i>)?</p>
							</li>
							<li>
								<p>På detaljvy för enskild enhet (t.ex.
									<i>Vårdcentralen Stadsfjärden</i>)?</p>
							</li>
							<li>
								<p>På sökresultat (t.ex. alla personer under
									<i>Stadsbyggnadskontoret</i>)?</p>
							</li>
						</ol>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
