<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal">
				<a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-03-25 15:32:16</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Vidareutveckla meny för "sökområde"</h3>
				<p> <em>Sprint 17 &raquo; HSA-397: <a href="https://riv-ta.atlassian.net/browse/HSA-397">https://riv-ta.atlassian.net/browse/HSA-397</a></em></p>
				<h3>Beskrivning</h3>
				<p>
					För att visa filtret kan man i de flesta vyer fälla ut "filter" från vänstermenyn, sedan välja "sökområde".
					Tillägg: använd autentisk eller produktionslik data i rullgradinsmenyn "sökområde".
				</p>
			</div>
		</div>
	</div>
</div>
