<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal"><a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a></div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-02-27 19:55:27</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Vidareutveckla "bläddra"</h3>
				<p><em>Sprint 16 &raquo; HSA-362: <a href="https://riv-ta.atlassian.net/browse/HSA-362">https://riv-ta.atlassian.net/browse/HSA-362</a></em>
				</p>
				<h3>Beskrivning</h3>
				<p>Två referensgrupper &ndash; en med administratörsbehörigheter och en annan grupp
					användare som saknar särskilda behörigheter &ndash; har fått lämna synpunkter
					på gränssnittets vyer <em>enkel sök</em>, <em>detaljerad sök</em>,
					<em>resultatlista</em> och <em>bläddra</em> vid två referensgruppsdemos under februari.
					Vi genomför ändringar enligt önskemål och visar nya versioner av dessa vyer vid
					kommande möten med referensgrupperna.</p>
				<h4>Här vill användare från de två grupperna se nya förslag</h4>
				<ol>
					<li>Förtydliga vad siffran står för (hitta lämpligt ordval då "objekt"
						inte är en del av generellt ordförråd --&gt; terminolog)</li>
					<li>Ta bort knapparna "förhandsgranska" och "detaljvy" (visa fler varianter)</li>
					<li>Gör objektnamnet klickbart och låt detta visa den korta detaljvyn (enbart pilarna
						används då för att veckla ut strukturen)</li>
					<li>Tydliggör att objektnamnen är klickbara</li>
					<li>Minska storleken (grad på text) på översta nivån</li>
					<li>Ta bort "Fäll ut alla grenar i trädet". Det skulle i så fall
						fälla ut c:a 750 000 objekt&hellip;</li>
				</ol>
				<h4>Testa olika alternativ</h4>
				<ol>
					<li>Ta bort siffror för antalet underliggande objekt</li>
					<li>Veckla ut strukturen när objektnamnet klickas, Lägg till en knapp "visa" som visar
						den korta detaljvyn</li>
				</ol>
			</div>
		</div>
	</div>
</div>
