<div class="row no-gutters justify-content-center fade-2-visible">
	<div class="align-items-center d-flex justify-content-center" id="prototype-message-placeholder">
		<div class="post-it">
			<div class="inner p-4">
				<i class="pushpin"></i>
				<h3><a href="#" data-toggle="modal" data-target="#prototype-message">Om den här prototypen...</a></h3>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="prototype-message">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-09-23</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h2>Epic HSA-24: Avsluta redigeravyerna</h2>
				<h3>Beskrivning</h3>
				<p>Denna sprint är ett underlag för att enklare kunna resonera kring vänstermenyn och "bläddra"</p>
				<p><b>Sprint 24</b></p>
				<ol>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-516">HSA-516</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-645">HSA-645</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-669">HSA-669</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-685">HSA-685</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-690">HSA-690</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-691">HSA-691</a></em></li>
					<li><em><a href="https://inera.atlassian.net/browse/HSA-693">HSA-693</a></em></li>
				</ol>
			</div>
		</div>
	</div>
</div>
