<div class="container fade-2-visible" id="prototype-hint-placeholder">
	<div class="row justify-content-center">
		<div class="position-fixed h-100 col-auto d-flex align-items-center">
			<pre>

* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                                                       *
*   TIPS FÖR ATT TESTA SÖK I PROTOTYP                   *
*                                                       *
*   - sök på "test" för att se paginerad resultatvy     *
*   - sök på "anna" för att se 200+ träffar             *
*   - tom sökning ger "inga träffar"                    *
*   - allt utom "anna" och "" ger samma resultat        *
*     som "test"                                        *
*                                                       *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *

			</pre>
		</div>
	</div>
</div>
