* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.1em;
}

header,
main {
	background-color: rgba(33, 33, 33, 0.4);
	color: #bbb;
	display: block;
	justify-content: center;
	position: absolute;
	z-index: 5;
}

main {
	border-radius: 1em;
	font-size: 3vw;
	margin: 5%;
	padding: 5%;
	top: 10%;
	text-align: center;
	width: 80%;
}

main p {
	transform: translate(3%, 3%);
}

main h2 {
	font-size: 5vw;
	margin: auto;
	width: 80%;
	text-align: center;
	text-size-adjust: auto;
	transform: translate(-3%, -3%);
}

a,
a:visited {
	color: #fcfcfc;
}

a:hover {
	color: tan;
}

.zoomin {
	transition: transform 1s;
	width: 80vw;
}

.zoomin:hover {
	transform: scale(1.1);
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -10000px 5000px;
	}
}

@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

@-moz-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 10000px 0;
	}
}

@-ms-keyframes move-clouds-back {
	from {
		background-position: 0;
	}

	to {
		background-position: 10000px 0;
	}
}

.stars,
.twinkling,
.clouds {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.stars {
	background: #000 url(../images/stars.png) repeat top center;
	z-index: 0;
}

.twinkling {
	background: transparent url(../images/twinkling.png) repeat top center;
	z-index: 1;
	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}

.clouds {
	background: transparent url(../images/clouds3.png) repeat top center;
	z-index: 3;
	-moz-animation: move-clouds-back 200s linear infinite;
	-ms-animation: move-clouds-back 200s linear infinite;
	-o-animation: move-clouds-back 200s linear infinite;
	-webkit-animation: move-clouds-back 200s linear infinite;
	animation: move-clouds-back 200s linear infinite;
}

.glitch {
	-webkit-animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
	animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
	line-height: 1;
	position: relative;
	text-align: center;
	-webkit-transform-origin: center top;
	transform-origin: center top
}

.glitch__main {
	color: #FFF
}

.glitch__color {
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 100%;
	z-index: -1
}

.glitch__color--red {
	-webkit-animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
	animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
	color: brown;
	opacity: .1;
}

.glitch__color--blue {
	animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
	color: lightskyblue;
	opacity: .1;
}

.glitch__color--green {
	-webkit-animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
	animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
	color: greenyellow;
	opacity: .1;
}

.glitch__line {
	-webkit-animation: glitch-line 2s linear infinite;
	animation: glitch-line 2s linear infinite;
	background: #000;
	content: '';
	height: 1px;
	left: 0;
	opacity: .1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1
}

.glitch__line--first {
	-webkit-animation: glitch-line 2s linear infinite;
	animation: glitch-line 2s linear infinite
}

.glitch__line--second {
	-webkit-animation: glitch-line 1s linear 1s infinite;
	animation: glitch-line 1s linear 1s infinite
}

@-webkit-keyframes glitch {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}

	20% {
		-webkit-transform: translate(-8px, 8px);
		transform: translate(-8px, 8px)
	}

	40% {
		-webkit-transform: translate(-8px, -8px);
		transform: translate(-8px, -8px)
	}

	60% {
		-webkit-transform: translate(8px, 8px);
		transform: translate(8px, 8px)
	}

	80% {
		-webkit-transform: translate(8px, -8px);
		transform: translate(8px, -8px)
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
}

@keyframes glitch {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}

	20% {
		-webkit-transform: translate(-8px, 8px);
		transform: translate(-8px, 8px)
	}

	40% {
		-webkit-transform: translate(-8px, -8px);
		transform: translate(-8px, -8px)
	}

	60% {
		-webkit-transform: translate(8px, 8px);
		transform: translate(8px, 8px)
	}

	80% {
		-webkit-transform: translate(8px, -8px);
		transform: translate(8px, -8px)
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
}

@-webkit-keyframes glitch-skew {
	0% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg)
	}

	48% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg);
		-webkit-filter: blur(0);
		filter: blur(0)
	}

	50% {
		-webkit-transform: skew(-20deg, 0deg);
		transform: skew(-20deg, 0deg);
		-webkit-filter: blur(4px);
		filter: blur(4px)
	}

	52% {
		-webkit-transform: skew(20deg, 0deg);
		transform: skew(20deg, 0deg)
	}

	54% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg);
		-webkit-filter: blur(0);
		filter: blur(0)
	}

	100% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg)
	}
}

@keyframes glitch-skew {
	0% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg)
	}

	48% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg);
		-webkit-filter: blur(0);
		filter: blur(0)
	}

	50% {
		-webkit-transform: skew(-20deg, 0deg);
		transform: skew(-20deg, 0deg);
		-webkit-filter: blur(4px);
		filter: blur(4px)
	}

	52% {
		-webkit-transform: skew(20deg, 0deg);
		transform: skew(20deg, 0deg)
	}

	54% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg);
		-webkit-filter: blur(0);
		filter: blur(0)
	}

	100% {
		-webkit-transform: skew(0deg, 0deg);
		transform: skew(0deg, 0deg)
	}
}

@-webkit-keyframes glitch-line {
	0% {
		top: 0
	}

	100% {
		top: 100%
	}
}

@keyframes glitch-line {
	0% {
		top: 0
	}

	100% {
		top: 100%
	}
}
