<!-- docTree start -->
<ul class="tree-view pb-5">
	<li>Aleris Holding AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Almaso för tandvården AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Attendo Sverige AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Ambea AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Blekinge län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Capio AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>CompuGroup Medical Sweden AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Dalarnas län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>E-hälso-myndigheten<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Gävleborgs län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Hallands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Inera AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>IT Omsorg i Stockholm AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Jämtlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Jönköpings län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Kalmar län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Kriminalvården<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Kronobergs län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Norrbottens län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Praktikertjänst AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Skåne län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Socialstyrelsen<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>SOS Alarm Sverige AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Stockholms län samt Gotland<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Statens institutionsstyrelse<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Svensk e-identitet AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Södermanlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Unilabs AB<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Uppsala län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Värmlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Västerbottens län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Västernorrlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Västmanlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Västra Götalands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Örebro län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Östergötlands län<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
	<li>Hela Sverige<ul>
			<li>Enhet 2</li>
			<li>2nd Level<ul>
					<li>Enhet 3</li>
					<li>Enhet 4</li>
					<li>3rd Level<ul>
							<li>Enhet 5</li>
							<li>Enhet 6</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Enhet 7</li>
		</ul>
	</li>
</ul><!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5><button type="button" class="close" data-dismiss="modal"
				 aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">...</div>
			<div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button></div>
		</div>
	</div>
</div><!-- docTree end -->
