/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif !important;
	font-size: 1em;
}

footer {
	bottom: 0;
	position: fixed !important;
	z-index: 1000;
}

.left-nav a,
footer a,
main a {
	color: #00615e;
	text-decoration: underline;
}

footer a:hover,
main a:hover {
	color: #000;
	text-decoration: none;
}

.hsa-bg-dark {
	background-color: #007d7b !important;
}

.hsa-bg-light {
	background-color: #f1edea !important;
}

.hsa-dcd9d6 {
	background-color: #dcd9d6 !important;
}

.abs-left {
	margin: auto auto auto 0;
	min-width: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

.main-content-full-height {
	display: block;
	min-height: calc(100vh - 8em);
}

.footer-global-logo .logo-img {
	background-image: url(../img/inera-logo--79x48px.96835c03.svg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 70px;
	width: 100%;
	color: transparent;
	font: 0/0 a;
}

.feather {
	width: 24px;
	height: 24px;
	vertical-align: text-bottom;
}

.fine {
	font-size: 14px;
	font-size: .8em;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	line-height: 1.4;
	padding-top: 10px;
}

.heading-small {
	font-size: 12px;
	font-size: .75em;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
}

.vw-100 {
	width: 100vw;
}

.vh-100,
.vwh-100 {
	height: 100vh;
}

.vwh-100 {
	width: 100vw;
}

#left-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 90px 1em 1em 1em;
	-webkit-transition: all .3s;
	transition: all .3s;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-width {
	min-width: 14em;
}

.sidebar-offset {
	left: 14em;
	position: fixed;
}

.sidebar-expanded-main-width {
	width: calc(100vw - 7em);
}

#left-sidebar a,
#left-sidebar a:focus,
#left-sidebar a:hover {
	border-bottom: 1px solid #f5f5f5;
	display: inline-block;
	font-size: 1.25em;
	padding: .75em 1em;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
}

#left-sidebar a[data-toggle=collapse] {
	position: relative;
}

#left-sidebar .dropdown-toggle:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 9em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active:focus {
	color: #00615e;
	background-color: #f5f5f5;
}

.sidebar .nav-link.active .feather,
.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75em;
	text-transform: uppercase;
}

#main-content,
[role=main] {
	padding-top: 80px;
}

.navbar-dark .navbar-nav .nav-link {
	background-color: #007d7b;
	border-radius: .5em;
	color: hsla(0, 0%, 100%, .95);
	font-size: 1.25em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.pointer-link {
	cursor: pointer;
}

.navbar.fixed-top {
	height: 80px;
}

.navbar-brand {
	padding-top: .25em;
	padding-bottom: 1.25em;
	font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #00615e;
	border: 1px solid #56a3a2;
	-webkit-box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	text-shadow: 0 0 1em hsla(0, 0%, 100%, .75);
}

.navbar .form-control {
	padding: .75em 1em;
	border-width: 0;
	border-radius: 0;
}

.text-muted {
	color: #52443a !important;
}

.form-control-dark {
	color: #fff;
	background-color: hsla(0, 0%, 100%, .1);
	border-color: hsla(0, 0%, 100%, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	-webkit-box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25);
	box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.bg-info {
	background-color: #d4e8e7 !important;
}

@media (max-width:1199.98px) {
	.navbar-dark .navbar-nav .nav-link {
		background-color: #56a3a2;
		border-bottom: 1px solid #007d7b;
		border-radius: 0
	};
}

.sidebaricon {
	color: #999;
	font-size: x-large;
}

.bottom-lined {
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.brighter {
	background-color: #fff;
}

.darker {
	border-bottom-style: solid;
	border-width: thin;
}

.search-button {
	background-color: #52443a;
	color: #fff;
}

.container {
	max-width: 620px;
	min-width: 420px;
	margin: 40px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #888;
}

.tabs a.active {
	background-color: #fff;
	border-bottom: 2px solid #fff;
}

.local_button {
	background-color: #644e37;
	color: #fff;
}

.local_button.btn-outline-secondary:hover {
	background-color: #372b1d;
	color: #fff;
}

.circle-icon {
	background: #ded9d6;
	padding: 4px;
	border-radius: 50%;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.tab-container {
	margin: 10px auto;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #888;
}

.tabs {
	overflow: hidden;
	margin-left: 0;
	margin-bottom: -2px;
}

.tabs ul {
	list-style-type: none;
	margin-left: 20px;
}

.tabs a {
	float: left;
	cursor: pointer;
	padding: 12px 24px;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	border: 1px solid #ccc;
	border-right: none;
	background-color: #f1f1f1;
	border-radius: 10px 10px 0 0;
	font-weight: 700;
}

.tabs a:last-child {
	border-right: 1px solid #ccc;
}

.tabs a:hover {
	background-color: #aaa;
	color: #fff;
}

.tabs a.active {
	background-color: inherit;
	color: #484848;
	border-bottom: 2px solid #f8f7f5;
	cursor: default;
}

.tabcontent {
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 6px #e1e1e1;
	box-shadow: 3px 3px 6px #e1e1e1;
	border-top-left-radius: 0;
}

.desk {
	width: 400px;
	height: 200px;
	background: red;
}

.div-only-mobile {
	font-size: x-large;
}

@media screen and (max-width:1920px) {
	.div-only-mobile {
		visibility: hidden
	};
}

@media screen and (max-width:906px) {
	.desk {
		visibility: hidden
	}

	.div-only-mobile {
		visibility: visible
	}
}