<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal">
				<a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-03-26 14:57:32</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Visa cookie-meddelande</h3>
				<p>
					<em>Sprint 17 &raquo; HSA-396:
						<a href="https://riv-ta.atlassian.net/browse/HSA-396">https://riv-ta.atlassian.net/browse/HSA-396</a></em>
				</p>
				<h3>Beskrivning</h3>
				<p>Uppmaning om att acceptera kakor visas längst ner på skärmen. Om du väljer att godkänna kommer en kaka lagras i din dator. Den försvinner efter 365 dagar eller nästa gång du rensar kakor i webbläsaren. Vill du se meddelandet på nytt behöver du alltså rensa bort dina kakor.</p>
				<p><b>Så här säger lagen:</b></p>
				<ul>
					<li>
						<a href="https://webbriktlinjer.se/riktlinjer/20-upplys-hur-juridisk-information-och-kakor-hanteras/">https://webbriktlinjer.se/riktlinjer/20-upplys-hur-juridisk-information-och-kakor-hanteras/</a>
					</li>
					<li>
						<a href="https://webbriktlinjer.se/lagkrav/kaklagen-i-praktiken/">https://webbriktlinjer.se/lagkrav/kaklagen-i-praktiken/</a>
					</li>
					<li>
						<a href="http://www.riksdagen.se/sv/dokument-lagar/dokument/svensk-forfattningssamling/lag-2003389-om-elektronisk-kommunikation_sfs-2003-389#K6P18">http://www.riksdagen.se/sv/dokument-lagar/dokument/svensk-forfattningssamling/lag-2003389-om-elektronisk-kommunikation_sfs-2003-389#K6P18</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
