<div class="row no-gutters justify-content-center fade-2-visible" id="prototype-message-placeholder">
	<div class="d-flex align-items-center justify-content-center">
		<div class="post-it">
			<div class="inner" data-toggle="modal" data-target=".modal">
				<a href="#" data-toggle="modal" data-target=".modal">Om den här prototypen...</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog modal-dialog-centered prototype-message">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Prototyp 2019-03-06 16:27:18</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<h3>Vidareutveckla "detaljvy"</h3>
				<p> <em>Sprint 16 &raquo; HSA-364: <a href="https://riv-ta.atlassian.net/browse/HSA-364">https://riv-ta.atlassian.net/browse/HSA-364</a></em></p>
				<h3>Beskrivning</h3>
				<p>
					Två referensgrupper &ndash; en med
					administratörsbehörigheter och en annan grupp användare som
					saknar särskilda behörigheter &ndash; har fått lämna
					synpunkter på gränssnittets vyer <em>enkel sök</em>,
					<em>detaljerad sök</em>, <em>resultatlista</em> och
					<em>bläddra</em> vid två referensgruppsdemos under februari.
					Vi genomför ändringar enligt önskemål och visar nya
					versioner av dessa vyer vid kommande möten med
					referensgrupperna.
				</p>
			  <h4>Här vill användare från de två grupperna se nya förslag</h4>
				<ol>
					<li>Detaljvy &ndash; för icke-administratörer: Visa endast ifyllda attribut</li>
					<li>Detaljvy &ndash; för administratörer: Visa endast ifyllda attribut och lägg till en knapp "Redigera" som visar alla attribut</li>
				</ol>
			</div>
		</div>
	</div>
</div>
