/* ==========================================================================
	Custom styles
	========================================================================== */

/* Reset some styling on tag names - start */

body,
html {
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

label {
	margin-bottom: .1em;
}

footer {
	max-width: 1024px;
	bottom: 0;
	padding: 1.5em 0 0;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	/* body {
		background-color: #00615e;
	} */
}

/* Reset some styling on tag names - stop */

/* WCAG - start */

.form-control input-placeholder,
::-webkit-input-placeholder {
	color: #898279;
	opacity: 1;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */

:-moz-placeholder {
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 4-18 */

::-moz-placeholder {
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 19-51 */

:-ms-input-placeholder {
	color: #898279;
	opacity: 1;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

/* IE 10+ */

::placeholder {
	color: #898279;
	opacity: 1;
	transition: opacity .5s;
}

/* Modern Browsers */

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */

*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */

*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */

*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */

*:focus::placeholder {
	opacity: 0;
}

/* Modern Browsers */

/* IE 10+ */

/* WCAG - stop */

/* Miscellaneous - start */

.left-nav a,
footer a,
main a {
	color: #00615e;
	text-decoration: underline;
}

footer a:hover,
main a:hover {
	color: #000;
	text-decoration: none;
}

.hsa-bg-007d7b {
	background-color: #007d7b;
}

.hsa-bg-f1edea {
	background-color: #f1edea;
}

.hsa-bg-dcd9d6 {
	background-color: #dcd9d6;
}

.main-content-full-height {
	display: block;
	min-height: calc(100vh - 8em);
}

.footer-global-logo .logo-img {
	background-image: url(../images/inera-logo--79x48px.svg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 70px;
	width: 100%;
	color: transparent;
	font: 0/0 a;
}

.menu-icon {
	width: 20px;
	height: 20px;
}

.fine {
	font-size: 14px;
	font-size: .8em;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	line-height: 1.4;
	padding-top: 10px;
}

.fine,
.menu-icon {
	display: inline-block;
}

.heading-small {
	color: #372a1c;
	font-size: 12px;
	font-size: .75em;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3;
	text-transform: uppercase;
}

/* Miscellaneous - stop */

/*
 * Content - start
 */

#main-content-wrapper {
	min-height: calc(100vh - 80px);
	/* min-height: 100vh; */
	/* Space for fixed navbar */
	padding: 2em 1.25em;
}

#main-content-wrapper,
#top-nav-wrapper {
	/* Column-width (xs,sm,md,lg,xl) over-ride 'width' in this case */
	width: 1280px;
}

section[role="main"] {
	clear: both;
	min-height: calc(100vh - 17rem);
}

/*
 * Content - stop
 */

/*
 * Top Navbar - start
 */

.pointer-link {
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	background-color: #007d7b;
	border-radius: .5rem;
	color: hsla(0, 0%, 100%, .95);
	font-size: 1.25em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.navbar.fixed-top,
.navbar.sticky-top {
	height: 80px;
}

.navbar-brand {
	/* background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
	font-size: 1em;
	margin: 0 5px 10px;
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #00615e;
	border: 1px solid #56a3a2;
	box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	text-shadow: 0 0 1em hsla(0, 0%, 100%, .75);
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.nav-link>.menu-icon {
	opacity: .5;
}

/*
 * Top Navbar - stop
 */

/*
 * Sidebar - start
 */

.pointer-link>.toggle-sidebar {
	min-height: calc(100vh - 100px);
	width: 30px;
	display: block;
}

.pointer-link>.toggle-sidebar.opened {
	background: url("../images/push-menu-left.png") no-repeat center;
}

.pointer-link>.toggle-sidebar.closed {
	background: url("../images/push-menu-right.png") no-repeat center;
}

.dropdown-toggle::after {
	color: #898279;
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%) rotate(90deg);
}

.dropdown-toggle[aria-expanded=true]::after {
	transform: rotate(0);
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar-left {
	min-width: 18em;
	max-width: 18em;
	transition: all .3s;
	position: sticky;
}

/* Set initial view to hidden - start */

#sidebar-left {
	margin-left: -18em;
}

#sidebar-left.active {
	margin-left: 0;
}

/* ...but administrator view has a visible sidebar */

#page-administrate #sidebar-left {
	margin-left: -18em;
}

#page-administrate #sidebar-left.active {
	margin-left: 0;
}

/* Set initial view to hidden - start */

#sidebar-left ul.components {
	padding: 2em 0;
}

#sidebar-left ul p {
	color: #fff;
	padding: 1em;
}

#sidebar-left ul li a {
	border-bottom: 1px solid #dcd9d6;
	display: block;
	font-size: 1.1em;
	padding: .75em 1.5em;
}

#sidebar-left ul ul a {
	background-color: #f1edea;
	font-size: 1em;
	padding-left: 3.5em;
}

#sidebar-left ul li a:hover {
	background-color: #fff;
	color: #898279;
}

#sidebar-left ul li.active>a,
#sidebar-left a[aria-expanded="true"] {
	background-color: #f8f7f5;
	color: #372a1c;
	font-weight: 700;
}

#sidebar-left a[data-toggle="collapse"] {
	position: relative;
}

#sidebar-left a {
	color: #333;
	font-weight: 400;
}

#sidebar-left a .menu-icon {
	color: #999;
	margin-right: 10px;
}

#sidebar-left a.active,
#sidebar-left a.active:focus {
	background-color: #f5f5f5;
	color: #00615e;
}

#sidebar-left a.active .menu-icon,
#sidebar-left a:hover,
#sidebar-left a:hover .menu-icon {
	color: inherit;
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 80px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar-heading {
	font-size: .75em;
	text-transform: uppercase;
}

.sidebar-border {
	width: 5px;
}

/*
 * Sidebar - stop
 */

/*
 * Browse / treeview - start
 */


.tree-view {
	margin: 0 0 0 -1.25em;
}

.tree-view .fa-caret-right,
.tree-view .fa-chevron-down {
	color: #a2958a;
	height: 0.5em;
	margin: 0 .15em 0 .4em;
	width: .25em;
}

.tree-view .fa-chevron-down {
	font-size: 3em;
}

.tree-view .fa-caret-right {
	color: #a2958a;
	font-size: 3em;
}

.tree-view li {
	cursor: pointer;
	list-style-type: none;
	margin: .5em 0 auto -1.5em;
}

.tree-view li+li {
	border-left: 1px dotted #dcd9d6;
}

.tree-view>li+li {
	border-left: transparent;
}

.tree-view>li {
	border-bottom: 1px dotted #dcd9d6;
	padding: 0 0 .5em;
}

.tree-view li ul {
	display: none;
	margin: .5em 0 auto -2.5em;
}

.tree-view li ul li {
	margin: .5em 0 auto 1.5em;
}

.tree-view li a {
	background-color: #f1edea;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
}

/*
 * Browse / treeview - stop
 */

/*
 * Tabs - start
 */

.tab-pane.active {
	background-color: #fafafa;
	border: 1px solid #dee2e6;
	border-top: 1px solid transparent;
	padding: 0;
}

.no-content {
	opacity: .5;
	filter: grayscale(100%);
}

.no-content a {
	text-decoration: none;
	cursor: default;
}

.no-content a:hover {
	color: inherit;
}

.result-1-tab>a {
	background-image: url(../images/user-symbol.svg);
}

.result-2-tab>a {
	background-image: url(../images/home-symbol.svg);
}

.result-3-tab>a {
	background-image: url(../images/place-symbol.svg);
}

.result-1-tab>a,
.result-2-tab>a,
.result-3-tab>a {
	background-size: 20px;
	background-position: 12px 10px;
	background-repeat: no-repeat;
	font-weight: 700;
	padding: .5em 1em .5em 2.5em;
}

.result-1-tab>a.nav-link.active,
.result-1-tab>a.nav-link.active>.result-section-number,
.result-2-tab>a.nav-link.active,
.result-2-tab>a.nav-link.active>.result-section-number,
.result-3-tab>a.nav-link.active,
.result-3-tab>a.nav-link.active>.result-section-number {
	text-decoration: none;
}

a>.result-section-number {
	text-decoration: underline #f8f7f5;
	font-weight: 400;
}

/*
 * Tabs - stop
 */

/*
 * Search results - start
 */

.result-item {
	text-decoration: none;
	display: block;
	padding: .75em 1em .25em;
}

.result-item:nth-child(odd) {
	background-color: #f5f5f5;
}

.result-item h3 {
	font-size: 1em;
	font-weight: 700;
}

a.result-item h3 {
	color: #00615e;
	text-decoration: underline;
}

.result-item .path-to-item {
	font-style: italic;
	color: #212529;
}

.result-item .has-mail-address::after {
	color: #372b1d;
	content: "\f0e0";
	font-family: FontAwesome;
	font-weight: 400;
	opacity: .5;
	padding: 0 .75em;
}

/*
 * Search results - stop
 */

.detail-search .form-row {
	padding-bottom: 1em;
}

.detail-search .col {
	padding-right: 1em;
}

.text-muted {
	color: #52443a;
}

/*
 * Forms - start
 */

.form-control-dark {
	color: #fff;
	background-color: hsla(0, 0%, 100%, .1);
	border-color: hsla(0, 0%, 100%, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.omnibox input[type="search"] {
	padding: 0 1.25em;
	height: calc(2.875rem + 2px);
}

.omnibox .btn {
	height: calc(2.875rem + 2px);
	padding: 0 1.25em;
	display: inline-block;
}

/*
 * Forms - stop
 */

/*
 * Modals, disclaimers etc. - start
 */

.dialog-default,
.dialog-default>.card {
	background-color: #ffeacc;
}

.dialog-header .close {
	float: right;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}

.dialog-header>h1,
.dialog-header>h2,
.dialog-header>h3,
.dialog-header>h4,
.dialog-header>h5 {
	float: left;
}

/*
 * Modals, disclaimers etc. - stop
 */

/* Override Bootstrap styles */

.btn-info {
	background-color: #007d7b;
	border-color: #007d7b;
}

.btn {
	background-color: #644e37;
	border-radius: .5rem;
	box-shadow: inset .5em .5em 1em rgba(0, 0, 0, .2);
	color: #fff;
	line-height: 2;
	padding: .375rem 1rem;
	text-shadow: .1em .1em .5em #372a1c;
	text-transform: uppercase;
}

.btn i {
	color: #a2958a;
	padding: 0 0 0 .25em;
}

.btn:hover {
	background-color: #372b1d;
	color: #fff;
}

.btn.dropdown-toggle {
	background-color: #f1edea;
	border-radius: .3rem;
	box-shadow: inherit;
	color: #372a1c;
	line-height: 1.65;
	text-shadow: inherit;
	text-transform: inherit;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #00615e;
}

.btn-info.focus,
.btn-info:focus {
	box-shadow: 0 0 0 .2rem #007d7b;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
	color: #52443a;
}

.form-control {
	background-color: #fafafa;
}

.popover-body {
	color: #372a1c;
	background-color: #ffeacc;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
	border-bottom-color: bisque;
}

/* Custom styling, vue-multiselect - start */

.multiselect__placeholder {
	color: #495057;
	font-size: 1.1em;
	margin-bottom: inherit;
	padding-bottom: inherit;
	padding: 0 .5rem;
}

.multiselect__input,
.multiselect__single,
.multiselect__tags {
	background: #fafafa;
}

.multiselect__tags {
	padding: 6px 40px 0 4px;
	min-height: 2.75em;
}

.multiselect__option--highlight {
	background: #00615e;
}

.multiselect__option--selected.multiselect__option--highlight {
	background: #644e37;
	color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight::after {
	background: #a2958a;
}

.multiselect__option--highlight::after {
	background: #007d7b;
	color: #dee2e6;
}

.multiselect__select {
	background: #dcd9d6;
}

.multiselect.multiselect--disabled>.multiselect__tags,
.multiselect.multiselect--disabled>.multiselect__tags>.multiselect__single {
	background: #e9ecef;
}

.multiselect.multiselect--disabled>.multiselect__select {
	background: #dcd9d6;
}

/* .multiselect__element {
	background: #fafafa;
} */

/* Custom styling, vue-multiselect - stop */

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
xs = Extra small <576px
sm = Small ≥576px
md = Medium ≥768px
lg = Large ≥992px
xl = Extra large ≥1200px
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Mobile first */

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	#top-nav-wrapper>.navbar-nav {
		margin-left: -50px;
	}
}

/* Desktop first */

@media (max-width: 1199.98px) {
	.navbar-dark .navbar-nav .nav-link {
		background-color: #56a3a2;
		border-bottom: 1px solid #007d7b;
		border-radius: 0;
		/* color: inherit; */
	}

	.sidebar-border,
	.sidebar-left {
		display: none;
	}

	#top-nav-wrapper {
		max-width: inherit;
	}
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {

	.result-1-tab>a,
	.result-2-tab>a,
	.result-3-tab>a {
		font-weight: 400;
		padding: .5em .5em .5em 2.25em;
	}
}

@media (max-width: 543.98px) {}
