/* ==========================================================================
	Custom styles
	========================================================================== */

/* Reset some styling on tags - START */

body,
html {
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.1em;
}

input {
	font-weight: 700;
}

label {
	color: #372a1c;
	margin-bottom: .1em;
	width: 100%;
}

footer {
	max-width: 1024px;
	bottom: 0;
	padding: 1.5em 0 0;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	/* body {
		background-color: #00615e;
	} */
}

/* Reset some styling on tags - STOP */

/* WCAG - START */

.form-control input-placeholder,
::-webkit-input-placeholder {
	font-weight: 400;
	color: #898279;
	opacity: 1;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */

:-moz-placeholder {
	font-weight: 400;
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 4-18 */

::-moz-placeholder {
	font-weight: 400;
	color: #898279;
	opacity: 1;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 19-51 */

:-ms-input-placeholder {
	font-weight: 400;
	color: #898279;
	opacity: 1;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

/* IE 10+ */

::placeholder {
	font-weight: 400;
	color: #898279;
	opacity: 1;
	transition: opacity .5s;
}

/* Modern Browsers */

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */

*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */

*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */

*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */

*:focus::placeholder {
	opacity: 0;
}

/* Modern Browsers */

/* IE 10+ */

/* WCAG - STOP */

/* Miscellaneous - START */

.left-nav a,
footer a,
main a {
	color: #00615e;
	text-decoration: underline;
}

footer a:hover,
main a:hover {
	color: #000;
	text-decoration: none;
}

.hsa-bg-007d7b {
	background-color: #007d7b;
}

.hsa-bg-f1edea {
	background-color: #f1edea;
}

.hsa-bg-dcd9d6 {
	background-color: #dcd9d6;
}

.main-content-full-height {
	display: block;
	min-height: calc(100vh - 8em);
}

.footer-global-logo .logo-img {
	background-image: url(../images/inera-logo--79x48px.svg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 70px;
	width: 100%;
	color: transparent;
	font: 0/0 a;
	margin-left: -7px;
}

.menu-icon {
	width: 20px;
	height: 20px;
}

.fine {
	font-size: 14px;
	font-size: .8em;
	font-style: italic;
	line-height: 1.4;
	padding-top: 10px;
}

.fine,
.menu-icon {
	display: inline-block;
}

.heading-small {
	color: #372a1c;
	font-size: 12px;
	font-size: .75em;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3;
	text-transform: uppercase;
}

.sub-heading {
	color: #372a1c;
	font-size: 1.25em;
	font-weight: 700;
}

/* Miscellaneous - STOP */

/*
 * Content - start
 */

#main-content-wrapper {
	min-height: calc(100vh - 80px);
	/* min-height: 100vh; */
	/* Space for fixed navbar */
	padding: 2em 1.25em;
}

#main-content-wrapper,
#top-nav-wrapper {
	/* Column-width (xs,sm,md,lg,xl) over-ride 'width' in this case */
	width: 1280px;
}

section[role="main"] {
	clear: both;
	min-height: calc(100vh - 17rem);
}

.has-breadcrumb section[role="main"] {
	min-height: calc(100vh - 21rem);
	padding: 1em 0;
}

.has-cookie-alert section[role="main"] {
	min-height: calc(100vh - 25rem);
	padding: 1em 0;
}

.filtered-search-within-org {
	font-weight: 700;
	white-space: nowrap;
}

.filtered-search-within-org.filter-changed {
	background-color: #f1edea;
	border: 1px solid #ced4da;
	border-radius: .3rem;
	padding: .25em .75em;
	cursor: pointer;
}

/*
 * Content - stop
 */

/*
 * Top Navbar - start
 */

.pointer-link {
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	background-color: #007d7b;
	border-radius: .5rem;
	color: hsla(0, 0%, 100%, .95);
	font-size: 1.25em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.navbar.fixed-top,
.navbar.sticky-top {
	height: 80px;
}

.navbar-brand {
	/* background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
	font-size: 1em;
	margin: 0 5px 10px;
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #00615e;
	border: 1px solid #56a3a2;
	box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	text-shadow: 0 0 1em hsla(0, 0%, 100%, .75);
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.navbar-collapse {
	z-index: 1;
}

.nav-link>.menu-icon {
	opacity: .5;
	margin: 0 .5em 0 0;
}

.user-display-name {
	font-size: .75em;
	text-transform: uppercase;
}

.alert-in-nav {
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.alert-in-nav:hover {
	font-size: 1.25em;
	margin: -0.5em 0 0 0;
}

.alert-icon {
	color: #fecb7f;
	font-size: 2em;
	position: absolute;
	transform: rotate(20deg);
}

.alert-number {
	background-color: #00615e;
	border-radius: 1em;
	border: 2px solid #fecb7f;
	color: #fecb7f;
	font-size: .8em;
	font-weight: 700;
	height: 1.75em;
	left: 1.2em;
	position: absolute;
	text-align: center;
	top: .8em;
	width: 1.75em;
}

/*
 * Top Navbar - stop
 */

/*
 * Sidebar - start
 */

.pointer-link>.toggle-sidebar {
	min-height: calc(100vh - 100px);
	width: 30px;
	display: block;
}

.pointer-link>.toggle-sidebar.opened {
	background: url("../images/push-menu-left.png") no-repeat center;
}

.pointer-link>.toggle-sidebar.closed {
	background: url("../images/push-menu-right.png") no-repeat center;
}

.dropdown-toggle::after {
	color: #898279;
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	/* transform: translateY(-50%) rotate(90deg); */
}

.dropdown-toggle[aria-expanded=true]::after {
	transform: rotate(0);
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar-left {
	min-width: 18em;
	max-width: 18em;
	transition: all .3s;
	position: sticky;
}

/* Set initial view to hidden - START */

#sidebar-left {
	margin-left: -18em;
}

#sidebar-left.active {
	margin-left: 0;
}

/* ...but administrator view has a visible sidebar */

#page-administrate #sidebar-left {
	margin-left: 0;
}

#page-administrate #sidebar-left.active {
	margin-left: 0;
}

/* Set initial view to hidden - START */

#sidebar-left ul.components {
	padding: 2em 0;
}

#sidebar-left ul p {
	color: #fff;
	padding: 1em;
}

#sidebar-left ul li a {
	display: block;
	font-size: 1.1em;
	padding: .75em 1.5em;
	border-top: 1px solid #a2958a;
}

#sidebar-left>ul>li:last-child a {
	border-top: 1px solid #a2958a;
	border-bottom: 1px solid #898279;
}

#sidebar-left ul ul a,
#filter-submenu {
	background-color: #f1edea;
	font-size: 1em;
	padding-left: 3.5em;
}

#sidebar-left ul li a:hover {
	background-color: #fff;
	color: #898279;
}

#sidebar-left ul li.active>a,
#sidebar-left a[aria-expanded="true"] {
	background-color: #f8f7f5;
	color: #372a1c;
	font-weight: 700;
}

#sidebar-left a[data-toggle="collapse"] {
	position: relative;
}

#sidebar-left a {
	color: #333;
	font-weight: 400;
}

#sidebar-left a .menu-icon {
	color: #999;
	margin-right: 10px;
}

#sidebar-left a.active,
#sidebar-left a.active:focus {
	background-color: #f5f5f5;
	color: #00615e;
}

#sidebar-left a.active .menu-icon,
#sidebar-left a:hover,
#sidebar-left a:hover .menu-icon {
	color: inherit;
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 80px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar-heading {
	font-size: .75em;
	text-transform: uppercase;
}

.sidebar-border {
	width: 5px;
}

#filter-submenu {
	padding: 1em;
}

/*
 * Sidebar - stop
 */

/*
 * Browse / treeview - start
 */

.tree-view {
	margin: 0 0 0 -1.9em;
}

.tree-view .fa-caret-right,
.tree-view .fa-chevron-down {
	color: #a2958a;
	height: 0.5em;
	margin: 0 .15em 0 .4em;
	width: .25em;
}

.tree-view .fa-caret-right {
	color: #a2958a;
	font-size: 3em;
}

.tree-view .fa-chevron-down {
	font-size: 3.75em;
	margin: -.5em .1em 0 .25em;
}

.tree-view li {
	cursor: pointer;
	list-style-type: none;
	margin: .5em 0 auto -1.5em;
}

.tree-view li+li {
	border-left: 1px dotted #dcd9d6;
}

.tree-view>li+li {
	border-left: transparent;
}

.tree-view>li {
	border-bottom: 1px dotted #dcd9d6;
	padding: 0 0 .5em;
}

.tree-view li ul {
	display: none;
	margin: .5em 0 auto -2.5em;
}

.tree-view li ul li {
	margin: .5em 0 auto 1.5em;
}

.tree-view li a {
	background-color: #f1edea;
	display: block;
	padding: .5em 0 .5em 1em;
	text-decoration: none;
}

.tree-view h1,
.tree-view h2,
.tree-view h3,
.tree-view h4,
.tree-view h5,
.tree-view h6 {
	display: inline;
}

.attributes-detail-view i {
	width: .75em;
}

.attributes-detail-view {
	color: #00615e;
}

#page-browse .attributes-quick-view {
	background-color: #f8f7f5;
	border-radius: 1em;
	border: 1px dotted #56a3a2;
	color: #00615e;
	float: none;
	margin: auto 1em;
	padding: .25em .75em .3em .4em;
	text-decoration: none;
}

.attributes-quick-view:hover,
.attributes-detail-view:hover {
	color: #56a3a2;
	text-decoration: none;
}

.attributes-quick-view i,
.attributes-detail-view i {
	color: #56a3a2;
	padding: .2em .5em;
}

.number-of-objects {
	background-color: #117a8b;
	border-radius: 1em;
	color: #fff;
	float: right;
	font-weight: 700;
	font-size: .8em;
	margin: .25em -.5em 0 .75em;
	padding: 0 .5em;
}

.number-of-objects {
	border-radius: 1.5em;
	margin: 0 -.5em 0 .75em;
	padding: .25em 1em;
}

#expand-all-branches i,
#collapse-all-branches i {
	color: #56a3a2;
	padding: 0 .6em 0 0;
}

/* .obj_name {
	font-weight: 700;
} */

.obj_name {
	pointer-events: none;
	display: inline-block !important;
}

h3.obj_name {
	font-size: 1.25em;
}

.short-view-row {
	padding: 0 0 .5em 0;
}

.short-view-name {
	padding: 0 .25em 0 0;
}

.short-view-value {
	font-weight: 700;
}

.short-view-edit {
	color: #56a3a2;
	padding: 0 0 0 .5em;
}

.short-view-edit:hover {
	color: #495057;
	cursor: pointer;
}

#short-view-modal .modal-title {
	font-weight: 700;
}

#short-view-modal a {
	color: #117a8b;
}

/*
 * Browse / treeview - stop
 */

/*
 * Detail view - start
 */

#page-detail-view .card {
	margin: .5em 0;
}

#page-detail-view .card-body {
	padding: .5em 1em;
	float: left;
	font-weight: 700;
}

#page-detail-view .card-title {
	/* float: left; */
	font-style: italic;
	font-weight: 400;
	margin: .25em 0;
	padding: 0 .5em 0 0;
}

/*
#page-detail-view .card-title::after {
	content: ": ";
}
*/

/*
 * Detail view - stop
 */

/*
 * Tabs - start
 */

.nav-link.active {
	font-weight: 700;
	text-decoration: none;
	cursor: inherit;
}

.tab-pane.active {
	background-color: #fafafa;
	border: 1px solid #dee2e6;
	border-top: 1px solid transparent;
	padding: 0;
}

.no-content {
	opacity: .5;
	filter: grayscale(100%);
}

.no-content a {
	text-decoration: none;
	cursor: default;
}

.no-content a:hover {
	color: inherit;
}

.result-1-tab>a>.category-icon,
.result-2-tab>a>.category-icon,
.result-3-tab>a>.category-icon {
	background-color: #a2958a;
	border-radius: 1.5em;
	color: #f1edea;
	display: inline-block;
	margin: 0 .4em 0 0;
	text-align: center;
	width: 1.5em;
}

.result-1-tab>a.nav-link.active,
.result-1-tab>a.nav-link.active>.result-section-number,
.result-2-tab>a.nav-link.active,
.result-2-tab>a.nav-link.active>.result-section-number,
.result-3-tab>a.nav-link.active,
.result-3-tab>a.nav-link.active>.result-section-number {
	text-decoration: none;
}

a>.result-section-number {
	text-decoration: underline #f8f7f5;
	font-weight: 400;
}

/*
 * Tabs - stop
 */

/*
 * Search results - start
 */

.result-item {
	text-decoration: none;
	display: block;
	padding: .75em 1em .25em;
}

.result-item:nth-child(odd) {
	background-color: #f5f5f5;
}

.result-item h3 {
	font-size: 1em;
	font-weight: 700;
}

a.result-item h3 {
	color: #00615e;
	text-decoration: underline;
}

.result-item .path-to-item {
	font-style: italic;
	color: #212529;
}

.result-item .has-mail-address {
	color: #56a3a2;
	opacity: .5;
	padding: 0 .75em;
}

.result-item .has-mail-address:hover {
	color: #495057;
	opacity: 1;
}

/*
 * Search results - stop
 */

.detail-search .form-row {
	padding-bottom: 1em;
	margin: 0;
}

.detail-search .col {
	padding-right: 1em;
}

.text-muted {
	color: #52443a !important;
}

/*
 * Forms - start
 */

.form-control-dark {
	color: #fff;
	background-color: hsla(0, 0%, 100%, .1);
	border-color: hsla(0, 0%, 100%, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.omnibox input[type="search"] {
	padding: 0 1.25em;
	height: calc(2.875rem + 2px);
}

.omnibox .btn {
	height: calc(2.875rem + 2px);
	padding: 0 1.25em;
	display: inline-block;
}

.omnibox-btn i {
	padding: 0 0 0 .25em;
}

/*
 * Forms - stop
 */

/*
 * Modals, disclaimers etc. - start
 */

.dialog-default,
.dialog-default>.card {
	background-color: #ffeacc;
}

.dialog-header .close {
	float: right;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	text-decoration: none;
}

.dialog-header>h1,
.dialog-header>h2,
.dialog-header>h3,
.dialog-header>h4,
.dialog-header>h5 {
	float: left;
}

.omnibox-filters i {
	color: #007d7b;
	opacity: .75;
}

/*
 * Modals, disclaimers etc. - stop
 */

/* Override more Bootstrap styles - START */

input[type="file"] {
	font-weight: 400;
}

.container.no-gutters,
.container-fluid.no-gutters {
	padding: 0;
}

.btn {
	background-color: #644e37;
	border-radius: .5rem;
	box-shadow: inset .5em .5em 1em rgba(0, 0, 0, .2);
	color: #fff;
	font-weight: 700;
	line-height: 2;
	padding: .375rem 1rem;
	text-shadow: .1em .1em .5em #372a1c;
	text-transform: uppercase;
}

.btn[type="submit"] {
	padding: .375rem 1.5rem;
}

.btn i {
	color: #a2958a;
}

.btn:hover {
	background-color: #372b1d;
	color: #fff;
}

.btn-info {
	background-color: #007d7b;
	border-color: #007d7b;
}

.btn-info.focus,
.btn-info:focus {
	box-shadow: 0 0 0 .2rem #007d7b;
}

.btn-primary {
	border-color: #56a3a2;
}

.btn-secondary {
	background-color: #f8f7f5;
	border-color: #ced4da;
	box-shadow: none;
}

.btn-secondary i {
	color: #a2958a;
}

.btn.dropdown-toggle {
	background-color: #f8f7f5;
	border-color: #ced4da;
	border-radius: .3rem;
	box-shadow: inherit;
	color: #372a1c;
	line-height: 1.65;
	text-shadow: inherit;
	text-transform: inherit;
}

.disabled.btn.dropdown-toggle {
	background-color: #e9ecef;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #00615e;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
	color: #52443a;
	font-weight: 400;
}

.alert.cookiealert a {
	color: #56a3a2;
}

.form-control {
	background-color: #fafafa;
}

.form-check-input {
	position: relative;
}

.form-control:focus {
	border-color: #56a3a2;
	box-shadow: 0 0 0 0.2rem #d4e8e7;
}

.breadcrumb {
	padding: .5rem 1rem;
	margin-bottom: .75rem;
	background-color: #f1edea;
}

.breadcrumb.no-gutters {
	margin: 0 -1rem .75rem;
}

.breadcrumb-item {
	/* color: #00615e; */
	font-style: italic;
}

.breadcrumb-item>a {
	font-weight: 700;
	text-decoration: none;
}

/* Override more Bootstrap styles - STOP */

/* Popper styling - START */

.popover-body {
	color: #372a1c;
	background-color: #ffeacc;
}

.bs-popover-auto[x-placement^=left] .arrow::after,
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^=right] .arrow::after,
.bs-popover-right .arrow::after {
	border-left-color: #ffeacc;
	border-right-color: #ffeacc;
}

.bs-popover-auto[x-placement^=top] .arrow::after,
.bs-popover-top .arrow::after {
	border-top-color: #ffeacc;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
	border-bottom-color: #ffeacc;
}

/* Popper styling - STOP */

/* Custom styling */

/* select2 - START */

#select2-search-within-org-results>.select2-results__option:nth-child(odd) {
	background-color: #f5f5f5;
	color: #212529;
}

#select2-search-within-org-results>.select2-results__option:nth-child(odd):hover {
	background-color: #007d7b;
	color: #fff;
}

.filtered-search-within-org.filter-changed>.select2-selection__clear {
	color: #a2958a;
	margin: 0 .5em 0 0 !important;
}

.alert_here,
.filtered-search-within-org.alert_here,
.filtered-search-within-org.alert_here>.select2-selection__clear {
	background-color: #00615e;
	color: #f1edea;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	float: none;
}

.select2-selection--single,
.select2-selection--multiple {
	border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: inherit;
}

/* .select2-selection--single .select2-selection__rendered, .select2-selection--multiple .select2-selection__rendered {
	padding: .1em .5em .1em;
} */

#search-within-org .select2-results__option {
	padding: .35rem .5rem .35rem 1.5rem;
	margin: .35rem -.25rem 0 -.75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #007d7b;
	color: #fff;
}

.select2-container {
	background-color: #fafafa;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.disabled.select2-container {
	background-color: #e9ecef;
}

.select2-selection--single,
.select2-selection--multiple,
.select2-search__field {
	background-color: transparent;
	display: block;
	color: #495057;
	font-size: 1rem;
	height: 2.25rem !important;
	margin: 0;
	width: 100%;
}

.select2-search.select2-search--inline {
	padding: 0 .25rem;
	width: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default.select2-container .select2-selection--multiple {
	border: 1px solid #e9ecef;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #56a3a2;
	box-shadow: 0 0 0 0.2rem #d4e8e7;
}

.select2-selection__rendered,
.select2-search__field,
.select2-container .select2-selection--multiple {
	background-color: #fafafa;
	border-radius: .25rem;
	min-height: 2.25rem !important;
	margin: 0 !important;
	position: relative;
	width: 100% !important;
}

.select2-container .select2-selection--multiple {
	border: 1px solid #e9ecef;
	display: table;
	margin: -1px !important;
	width: calc(100% + 4px) !important;
}

.select2-container .select2-selection--single .select2-selection__clear,
.select2-container .select2-selection--multiple .select2-selection__clear {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0 .2em;
	top: .15em;
	color: #372a1c;
}

.select2-selection--single .select2-selection__placeholder,
.select2-selection--multiple .select2-selection__placeholder {
	color: #372a1c;
	background-color: inherit;
	display: inline-block;
	padding: .4rem 1.5rem .2rem .5rem;
}

/* .select2-container .select2-selection--single .select2-selection__rendered,
	.select2-container .select2-selection--multiple .select2-selection__rendered {
	padding: 0;
} */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border: none;
	font-size: inherit;
	position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: #e9ecef;
	height: calc(100% - 2px);
	width: 2.25rem;
}

.select2-selection--multiple .select2-selection__choice {
	border: 1px solid #ced4da;
	background-color: #f1edea;
	border-radius: .3rem;
	color: #372a1c;
	padding: 0 0 0 .5rem;
	display: inline-block;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	white-space: inherit;
	display: inline-block;
	height: auto;
}

.select2-selection--multiple .select2-selection__choice__remove {
	border-left: 1px solid #ced4da;
	color: #372a1c;
	float: right;
	margin: 0 .25rem;
	padding: 0 .25rem;
}

.select2-selection--multiple .select2-selection__choice__remove:hover {
	background-color: #f5f5f5;
}

.select2-container .select2-selection--single .select2-selection__arrow b,
.select2-container .select2-selection--multiple .select2-selection__arrow b {
	border-color: #a2958a transparent transparent;
	border-style: solid;
	border-width: 6px 6px 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #a2958a;
	border-width: 0 6px 6px 6px;
}

/* select2 - STOP */

/* vue-multiselect - START */

.multiselect__placeholder {
	color: #495057;
	font-size: 1.1em;
	margin-bottom: inherit;
	padding-bottom: inherit;
	padding: 0 .5rem;
}

.multiselect__input,
.multiselect__single,
.multiselect__tags {
	background: #fafafa;
}

.multiselect__tags {
	padding: 6px 40px 0 4px;
	min-height: 2.75em;
}

.multiselect__option--highlight {
	background: #00615e;
}

.multiselect__option--selected.multiselect__option--highlight {
	background: #644e37;
	color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight::after {
	background: #a2958a;
}

.multiselect__option--highlight::after {
	background: #007d7b;
	color: #dee2e6;
}

.multiselect__select {
	background: #dcd9d6;
}

.multiselect.multiselect--disabled>.multiselect__tags,
.multiselect.multiselect--disabled>.multiselect__tags>.multiselect__single {
	background: #e9ecef;
}

.multiselect.multiselect--disabled>.multiselect__select {
	background: #dcd9d6;
}

/* .multiselect__element {
	background: #fafafa;
} */

/* Custom styling, vue-multiselect - STOP */

/* Only prototype - START */

.mock-message-popover .popover-body {
	background-color: #fff799;
}

.mock-message-popover.bs-popover-auto[x-placement^=left] .arrow::after,
.mock-message-popover.bs-popover-left .arrow::after,
.mock-message-popover.bs-popover-auto[x-placement^=right] .arrow::after,
.mock-message-popover.bs-popover-right .arrow::after {
	border-left-color: #fff799;
	border-right-color: #fff799;
}

.mock-message-popover.bs-popover-auto[x-placement^=top] .arrow::after,
.mock-message-popover.bs-popover-top .arrow::after {
	border-top-color: #fff799;
}

.mock-message-popover.bs-popover-auto[x-placement^=bottom] .arrow::after,
.mock-message-popover.bs-popover-bottom .arrow::after {
	border-bottom-color: #fff799;
}

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.post-it {
	font-size: 1.25em;
	position: absolute;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
	z-index: 1000;
}

.post-it:before,
.post-it:after {
	content: " ";
	position: absolute;
	z-index: 100;
}

.post-it:before {
	background: rgba(0, 0, 0, 0.3);
	bottom: 2px;
	left: 4px;
	max-height: 60px;
	max-width: 180px;
	height: 70%;
	width: 90%;
	-webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
	-webkit-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-moz-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-ms-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-o-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
}

.post-it:after {
	background: rgba(0, 0, 0, 0.1);
	height: 30%;
	max-height: 30px;
	max-width: 60px;
	right: 1px;
	top: 0;
	width: 30%;
	-webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
	-webkit-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-moz-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-ms-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-o-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
}

.post-it .inner {
	padding: 10px;
	/* min-height: 100px; */
	background: #fff799;
	z-index: 1000;
	position: relative;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.post-it .inner>a {
	color: #00615e;
}

#prototype-message-placeholder {
	/*dim the background*/
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	position: fixed;
	/* pointer-events: none; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1025;
}

@media (min-width: 768px) {
	.prototype-message.modal-dialog {
		max-width: 50vw;
	}
}

/* Only prototype - STOP */

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
xs = Extra small <576px
sm = Small ≥576px
md = Medium ≥768px
lg = Large ≥992px
xl = Extra large ≥1200px
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Mobile first */

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	#top-nav-wrapper>.navbar-nav {
		margin-left: -50px;
	}
}

/* Desktop first */

@media (max-width: 1199.98px) {
	.navbar-dark .navbar-nav .nav-link {
		background-color: #56a3a2;
		border-bottom: 1px solid #007d7b;
		border-radius: 0;
		/* color: inherit; */
	}

	#top-nav-wrapper {
		max-width: inherit;
	}

	/* Hide sidebar on tablet and below
	.sidebar-border, #sidebar-left {
		display: none;
	} */
	/* Make sidebar overlap main-content on tablet and below */
	#sidebar-left {
		/* pointer-events: none; */
		position: absolute;
		z-index: 1;
		border-radius: 0 0 .5em 0;
	}

	#main-content-wrapper {
		left: 1.5em;
		position: absolute;
		width: 90vw;
		z-index: 0;
	}

	.pointer-link>.toggle-sidebar.opened {
		position: absolute;
		z-index: 1;
	}
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {

	.result-1-tab>a,
	.result-2-tab>a,
	.result-3-tab>a {
		font-weight: 400;
		padding: .5em .5em .5em 2.25em;
	}
}

@media (max-width: 543.98px) {}
